<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Receitas - Adicionar Receita</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/cadastro.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{cabecalho :: cabecalho}"></div>
<main>
  <section class="form-section">
    <h2>Envie sua receita</h2>
    <form action="#" th:action="@{/receitas/cadastro}" th:object="${novaReceita}" method="post">
      <fieldset>
        <label for="nomeReceita">Nome da Receita:</label>
        <input th:field="*{nome}"  type="text" name="nomeReceita" id="nomeReceita">
      </fieldset>
      <fieldset>
        <label for="linkImagem">Link imagem:</label>
        <input th:field="*{linkImg}" type="text" name="linkImagem" id="linkImagem">
      </fieldset>
      <h3>Informações extras:</h3>

      <div class="form-group">
        <fieldset>
          <label for="tempoPreparo">Tempo de preparo:</label>
          <input th:field="*{tempo}" type="number" name="tempoPreparo" id="tempoPreparo">
        </fieldset>
        <fieldset>
          <label for="porcoes">Porções:</label>
          <input th:field="*{porcao}" type="number" name="porcoes" id="porcoes">
        </fieldset>
        <fieldset>
          <label for="categoria">Categoria:</label>
          <select th:field="*{idCategoria}"  name="categoria" id="categoria">
            <option value="0">--</option>
            <option th:each="categoria : ${categorias}" th:text="${categoria.nome}" th:value="${categoria.id}"></option>
          </select>
        </fieldset>
        <fieldset class="checkboxgroup">
          <label for="tags">Tags:</label>
          <p th:each="tag : ${tags}" >
            <input th:value="${tag.id}"  type="checkbox" th:text="${tag.nome}">
          </p>
          <!-- <p><input name="tags" value="1"  type="checkbox" />Rápidas     </p>
          <p><input name="tags" value="2"  type="checkbox" />Light       </p>
          <p><input name="tags" value="3"  type="checkbox" />Vegetariana </p>
          <p><input name="tags" value="4"  type="checkbox" />Vegana      </p>
          <p><input name="tags" value="5"  type="checkbox" />Sem forno   </p> -->
        </fieldset>
      </div>
      <h3>Receita:</h3>

      <div class="form-group">
        <fieldset>
          <label for="ingredientes">Ingredientes:</label><br>
          <small>Escreva os passos linha a linha, assim você facilitará a leitura de sua receita.</small><br>
          <textarea th:field="*{ingredientes}"  name="ingredientes" id="ingredientes" cols="30" rows="10">
            </textarea>
        </fieldset>
        <fieldset>
          <label for="modoPreparo">Modo preparado:</label><br>
          <small>Escreva os passos linha a linha, assim você facilitará a leitura de sua receita.</small><br>
          <textarea th:field="*{modoPreparo}" name="modoPreparo" id="modoPreparo" cols="30" rows="10">
            </textarea>
        </fieldset>
      </div>
      <section class="warnings">
        <h2>Antes de enviar</h2>
        <ul>
          <li>Revise sua receita para ter certeza que as quantidades estão corretas e todos os itens estão listados.</li>
          <li>Por favor, só envie fotos tiradas por você, fotos tiradas da internet não serão aceitas e você ainda corre o risco de ter seu cadastro removido do site.</li>
          <li>As informações serão posteriormente formatadas pelo time do TudoGostoso.</li>
        </ul>
      </section>
      <button>Enviar receita</button>
    </form>
  </section>
</main>
</body>
</html>