<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/pag-inicial.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/telas-gerencia.css}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>
<body>
<div th:replace="~{cabecalho :: cabecalho}"></div>
<main>
  <div class="erro" th:if="${erro}">
    <p>Erro ao deletar categoria, certifique-se que não há nenhuma receita vinculada a ela.</p>
    <a th:href="@{/categorias}" class="link-btn">Voltar</a>

  </div>
 <div th:unless="${erro}">
   <h2 class="titulo">Deletar</h2>

   <form action="#" th:action="@{/categorias/deletar/__${id}__}" method="POST">
     <p th:text="${'Você deseja deletar a categoria - ' + categoriaNome}"></p>
     <a th:href="@{/categorias}" class="link-btn">Cancelar</a>
     <button style="background-color: red">Deletar</button>
   </form>
 </div>

</main>
</body>
</html>