<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tags - Editar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/pag-inicial.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/telas-gerencia.css}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
</head>
<body>
<div th:replace="~{cabecalho :: cabecalho}"></div>
<main>
  <h2 class="titulo">Editar Tag</h2>

  <form action="#" th:action="@{/tags/editar/__${id}__}" th:object="${novaTag}" method="POST">
    <fieldset>
      <label for="nome">Nome da Tag:</label>
      <input th:value="${tagAntigaNome}" th:name="nome" type="text" name="nome" id="nome">
    </fieldset>

    <button>Editar tag</button>
  </form>
</main>
</body>
</html>