@import url(cabecalho.css);
@import url(construcao.css);
*{
   margin: 0; 
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

a{
   text-decoration: none;
}

body{
   background-color:#ededed;
}

button{
   border: 0;
}

main{
   margin: 16px auto;
   width: 1040px;
}


