section{
   display: flex;
   width: 725px;
   flex-flow: row wrap;
   justify-content: space-between;
}

section article{
   width: 100%;
   max-width: 350px;
   background-color: #fff;
   border-radius: 5px;
   margin-top: 10px;
   box-shadow: 2px 2px 7px #e2e3e5;
}

img{
   width: 100%;
   height: 200px;
   object-fit: cover;
}

article:hover .info p, article:hover .info h3{
   display: none;
}

article:hover .info span{
   display: block;
}

.info{
   margin: 10px auto;
   text-align: center;
   /* padding: 5px 0px 0px 10px; */
   height: 50px;
   position: relative;
}

.info span{
   display: none;
   padding: 5px 10px;
   background-color: #F75626;
   color: #fff;
   width: fit-content;
   border-radius: 16px;
   font-size: 11px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -37.6665px;
   margin-top: -10.5px;
}

.info p{
   font-size: 12px;
   color: #b8b8b8;
}

.info h3{
   font-size: 18px;
   color: #595959;
   margin-top: 5px;
}

.pag-inicial{
   display: flex;
   justify-content: space-between;
}

aside{
   width: 295px;
   background-color: #fff;
   border-radius: 5px;
}

aside article{
   width: 90%;
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 10px;
   margin: auto;
   box-shadow: 2px 2px 7px #e2e3e5;
}

h1{
   color: #ff6a28;
   white-space: nowrap;
   font-size: 18px;
   font-weight: 300;
   padding: 8px 0px;
}

aside article{
   height: 170px;
}

aside article a{
   display: flex;
}

aside .info{
   margin: 50px auto;
   height: auto;
}

aside picture {
   width: 100px;
}

aside picture img{
   height: 170px;
}

@media (max-width: 1000px)
{
   aside
   {
      display: none;
   }
}

@media (max-width: 700px)
{
   section
   {
      align-items: center;
      justify-content: center;
   }
}