<header th:fragment="cabecalho" id="menu">
  <nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li> <a th:href="@{/(categoria='sobremesas')}">Sobremesas</a></li>
        <li><a th:href="@{/(categoria='carnes')}">Carnes</a></li>
        <li> <a th:href="@{/(categoria='massas')}">Massas</a></li>
        <li> <a th:href="@{/(categoria='saladas')}">Saladas</a></li>
        <li><a th:href="@{/(categoria='sopas')}">Sopas</a></li>
    </ul>
  </nav>
   <button>
      <a th:href="@{/receitas/cadastro}">
         Criar nova Receita
      </a>
   </button>

</header>