<header th:fragment="cabecalho" id="menu">
  <nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li> <a th:href="@{/categoria/5}">Sobremesas</a></li>
        <li><a th:href="@{/categoria/4}">Carnes</a></li>
        <li> <a th:href="@{/categoria/3}">Massas</a></li>
        <li> <a th:href="@{/categoria/1}">Saladas</a></li>
        <li><a th:href="@{/categoria/2}">Sopas</a></li> 
    </ul>
  </nav>
   <button>
      <a th:href="@{/receitas/cadastro}">
         Criar nova Receita
      </a>
   </button>

</header>