<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receitas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/pag-inicial.css}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div th:replace="~{cabecalho :: cabecalho}"></div>
  <main class="pag-inicial">
     <section>
      <article th:each="receita : ${receitas}">
         <a th:href="${'/receitas/' + receita.id}">
            <picture>
               <img th:src="${receita.link_img}" />
            </picture>
            <div class="info">
               <p class="category" th:text="${receita.categoria}"></p>
               <h3 th:text="${receita.nome}"></h3>
               <span>VER RECEITA</span>
            </div>
         </a>
      </article>
   </section>
     <aside>
         <h1>RECEITINHAS RÁPIDAS</h1>
         <article th:each="aside : ${asides}">
            <a th:href="${'/receitas/' + aside.id}">
               <picture>
                  <img th:src="${aside.link_img}" />
               </picture>
               <div class="info">
                  <p class="category" th:text="${aside.categoria}"></p>
                  <h3 th:text="${aside.nome}"></h3>
                  <span>VER RECEITA</span>
               </div>
            </a>
         </article>
     </aside> 
  </main>
  <!-- <div th:replace="~{construcao :: construcao}"></div> -->
  <!-- <h1 th:if="${param.categoria}"> Em Breve, muitas receitas na categoria de <span th:text="${param.categoria}"></span></h1> -->
  
</body>
</html>